/* Global */

body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

#main{
    margin: 0 50px 50px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-weight: 700;
}

.p1{
    display: flex;
}

.euros{
    font-weight: 600;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo{
    margin-top: 30px;
    flex: 1;
}

nav li{
    padding-top: 40px;
}

nav a{
    padding: 40px 30px 0;
}

.Sinscrire{
    color: #0065FC;
    font-weight: 700;
    padding: 40px 40px 0;
}

nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

/* Section Recherche */

.recherche{
    margin-bottom: 30px;
}

.recherche h2{
    margin-bottom: 10px;
}

.recherche p{
    margin-top: 10px;
}

.barrederecherche{
    margin-bottom: 30px;
    height: 50px;
}

.conteneurMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.conteneurMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.RechercheInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.RechercheInput::placeholder{
    color: #c2c2c2;
}

.RechercheBouton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.RechercheBouton i{
    display: none;
}


/* Filtres */

.filtresText{
    align-self: center;
}

.filtres{
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filtre{
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.filtre span{
    padding-left: 12px;
}

.filtre:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.filtresList{
    flex-wrap: wrap;
}

.filtresIcon{
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.filtresIcon i{
    margin: auto;
    color: #0065FC;
}

.iconInfo{
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i{
    margin: auto;
    font-size: .9rem;
    color: #0065FC;  
}

/* Hotels */

.hotels, .popular{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}

.hotels{
    flex: 2;
}

.hotels > h2{
    margin: 0;
}

.hotelsTab{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.hotelEspace{
    display: grid;
    height: 220px;
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.hotelEspace img{
    width: 100%;
    height: 126px;
    object-fit: cover;
}

.hotelDescription{
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}

.hotelDescription p{
    margin: 0;
}

.hotelClassement{
    word-spacing: -1ch;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar{
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

.VoirPlus{
    font-weight: 700;
    font-size: 1.2rem;
}
