/* Global */

body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

#main{
    margin: 0 50px 50px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-weight: 700;
}

.p1{
    display: flex;
}

.euros{
    font-weight: 600;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo{
    margin-top: 30px;
    flex: 1;
}

nav li{
    padding-top: 40px;
}

nav a{
    padding: 40px 30px 0;
}

.Sinscrire{
    color: #0065FC;
    font-weight: 700;
    padding: 40px 40px 0;
}

nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

/* Section Recherche */

.recherche{
    margin-bottom: 30px;
}

.recherche h2{
    margin-bottom: 10px;
}

.recherche p{
    margin-top: 10px;
}

.barrederecherche{
    margin-bottom: 30px;
    height: 50px;
    display: flex;
}

.conteneurMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
    display: flex;
}

.conteneurMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.RechercheInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.RechercheInput::placeholder{
    color: #c2c2c2;
}

.RechercheBouton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.RechercheBouton i{
    display: none;
}


/* Section Filtres */

.filtresText{
    align-self: center;
}

.filtres{
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
    display: flex;
}

.filtre{
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
}

.filtre span{
    padding-left: 12px;
}

.filtre:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.filtresList{
    flex-wrap: wrap;
    display: flex;
}

.filtresIcon{
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
}

.filtresIcon i{
    margin: auto;
    color: #0065FC;
}

.iconInfo{
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
    display: flex;
}

.iconInfo i{
    margin: auto;
    font-size: .9rem;
    color: #0065FC;  
    display: flex;
}

.conteneurInfo{
    display: flex;
    margin-bottom: 50px;
}

/* Section Hotels */

.hotels, .populaire{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}

.hotels{
    flex: 2;
}

.hotels > h2{
    margin: 0;
}

.hotelsTab{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.hotelEspace{
    display: grid;
    height: 220px;
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.hotelEspace img{
    width: 100%;
    height: 126px;
    object-fit: cover;
}

.hotelDescription{
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
}

.hotelDescription p{
    margin: 0;
}

.hotelClassement{
    word-spacing: -1ch;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar{
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

.VoirPlus{
    font-weight: 700;
    font-size: 1.2rem;
}

.conteneurHotels{
    display: grid;
}

/* Section Populaire */

.populaire{
    flex: 1;
    margin-top: 50px;

}

.populaireIcon{
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    margin-bottom: 10px;
    margin-top: -20px;
}

.populaireIcon h2{
    margin-top: 0;
    margin-bottom: 25px;
}

.populaireIcon i{
    font-size: 1.5rem;
}

.populaireEspace{
    height: 145px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.populaireEspace img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.populaireDescription{
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    display: flex;
}

.hotelNom{
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.populaireDescription .hotelNom + p{
    margin-top: 8px;
    margin-bottom: 0;
}

/* Section Activités */

.activitésFlash{
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    gap: 37.5px;
    height: 450px;
    grid-auto-flow: column;
}

.Espace1{
    grid-row-end: span 13;
}

.Espace2{
    grid-row-end: span 7;
}

.Espace3{
    grid-row-end: span 6;
}

.activitésEspace{
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.activitésEspace img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.activitésDescription{
    align-self: center;
    background-color: #fff;
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

/* Footer */

footer{
    padding: 40px 50px 50px;
    background-color: #f2f2f2;
}

footer div{
    flex: 1;
}

footer li{
    margin-bottom: 15px;
}

footer a:hover{
    font-weight: 600;
    color: #0065FC;
}

@media only screen and (max-width: 1280px){

    .hotels{
        flex: 1.5;
    }
    
    .hotelsTab{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        margin: 30px 0;
    }

    .activitésDescription{
        font-size: 1rem;
    }
}

/* Version pour tablette */
@media only screen and (max-width: 1024px){

    /* Recherche */
    .filtres{
        flex-direction: column;
    }

    .filtresText{
        align-self: auto;
        margin-bottom: 15px;
    }

    .filtre{
        margin: 0 1rem 1rem 0;
    }

    /* Populaire */

    .populaire{
        margin: 0 0 20px;
    }

    .populaireEspace{
        height: 180px;
    }

    .populaireDescription .hotelNom{
        font-size: 1.4rem;
    }

    .populaireDescription p{
        font-size: 1.2rem;
    }

    .populaireDescription .fa-star{
        font-size: 1rem;
    }

    /* Les Hotels */
    
    .hotels{
        order: 2;
    }

    .conteneurHotels{
        flex-direction: column;
    }

    /* Les Activités */
    
    .activitésFlash{
        height: auto;
    }

    .activitésEspace
    {
        height: 190px;
    }

    .Espace1, .Espace2, .Espace3{
        grid-row-end: span 4;
        grid-column-end: span 2;
    }

    .activitésDescription{
        font-size: 1.1rem;
    }

    /* Footer */

    footer div{
        padding: 10px;
    }
}

/* Version pour mobiles */
@media only screen and (max-width: 600px){

    /* Global */

    #main{
        margin: 0;
    }

    h2{
        font-size: 1.4rem;
    }

    /* Header */

    header{
        margin: 0;
        flex-direction: column;
    }

    .logo{
        margin-left: 20px;
    }

    .Sinscrire{
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav{
        order:3;
    }
    
    nav ul{
        width: 100%;
    }

    nav li{
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a{
        padding: inherit;
    }

    nav li a:hover{
        border-top: none;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }

    /* Recherche */

    .recherche{
        margin: 30px 20px;
    }

    .RechercheInput{
        flex: 1;
    }

    .barrederecherche{
        margin: 35px 0 30px;
    }

    .RechercheBouton{
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .RecherhceBouton span{
        display: none;
    }

    .RechercheBouton i{
        display: inline-block;
    }

    .filtres{
        margin-bottom: 12px;
    }

    /* Populaire */

    .populaire{
        border-radius: 0;
        padding: 40px 20px 30px;
        margin-bottom: 40px;
    }

    .populaireEspace{
        height: 145px;
        margin-bottom: 10px;
    }

    .populaireIcon i{
        font-size: 1.4rem;
    }

    .hotelNom{
        font-size: 1rem !important;
    }

    .populaireDescription p{
        font-size: .9rem;
    }

    .populaireDescription{
        padding: 15px 10px 10px 20px;
    }

    .fa-star{
        font-size: .8rem !important;
        letter-spacing: 1px;
    }

    /* Les Hotels */

    .hotelEspace{
        height: 200px;
    }

    .hotels{
        padding: 0 20px;
        background-color: initial;
    }

    .hotelsTab{
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .hotelEspace img{
        height: 116px;
    }

    .hotelDescription p{
        font-size: .9rem;
    }

    /* Les Activités */

    .activités{
        margin: 55px 20px 45px;
    }

    .activitésFlash{
        grid-template: repeat(6, 1fr) / 1fr;;
        grid-auto-flow: initial;
        gap: 24px;
    }

    .Espace1, .Espace2, .Espace3{
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

    /* Footer */

    footer{
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div{
        padding: 0;
    }
}